body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.chat-container {
    display: flex;
}

.chat-sidebar {
    width: 200px;
    background-color: transparent;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #35cfbb40;
    border-radius: 25px;
    margin-top: 16px;
    margin-bottom: 8px;
}

.chat-sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 32px;
}

.chat-sidebar li {
    margin: 10px 0;
}

.button-chat {
    background-color: #22e0c7;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.5s;
    width: 150px;
}

.button-chat:hover {
    background: #35cfbb;
}

.chat {
    flex: 1;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 600px; /* Defina a altura desejada para o chat */
    max-height: 1000px; /* Altura máxima para ativar a barra de rolagem */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando necessário */
}

.chat-header {
    background-color: transparent;
    color: rgb(80, 80, 80);
    padding: 10px;
}

.message {
    margin: 15px 0;
}

.message-content {
    max-width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid darkgray;
}

.received {
    background-color: #22e0c740;
    color: rgb(80, 80, 80);
    align-self: flex-start;
}

.sent {
    background-color: #f0f0f0;
    color: rgb(80, 80, 80);
    margin-left: 150px;
}

.message-time {
    font-size: 12px;
    margin-top: 5px;
}



.message-input {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
}

.message-input.sent {
    justify-content: flex-end;
}

.message-input #send-button {
    margin-left: 10px;
}

#message-text {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#send-button {
    background-color: #22e0c7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

#send-button:hover {
    background-color: #35cfbb;
}

/* Barra de Rolagem */

.message-list {
    overflow-y: auto; /* Adiciona uma barra de rolagem apenas para a lista de mensagens */
    max-height: 400px; /* Ajuste conforme necessário, deixando espaço para o cabeçalho e entrada de mensagem */
    margin-bottom: 3px;
}

/* Adiciona estilos para a barra de rolagem */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #22e0c740;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #35cfbb60;
}