* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .login-text {
    font-weight: 700;
  }
  
  body {
    background-color: #D9ECF2;
  }
  
  .row {
    background-color: #fafafa;
    border-radius: 30px;
    box-shadow: 12px 12px 22px #a9b8bd;
  }
  
  img {
    width: 90%;
  }
  
  .bt-login {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: #22e0c7;
    color: #fafafa;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .bt-login:hover {
    background-color: #35cfbb;
  }